<% include partials/header %>
<div class="container my-3">
  <a href="/pagrindinis"><button type="button" class="btn btn-light">Grįžti</button></a>
  <h1 class="text-center"><%= result[0].pavadinimas %></h1>
  <h3>Papildymas</h3>
  <div>
    <form action="/apskaita/<%= result[0].tasko_ID %>" method="post">
        <div class="form-inline">
          <label for="minkstiledai" class="mr-3">Ledų masė, kg</label>
          <input type="number" class="form-control" name="minkstiledai" id="minkstiledai" step="0.01">
        </div>
        <div class="form-inline my-3">
          <label for="kabinamiledaivnt" class="mr-3">Kabinamų dėžutės, vnt</label>
          <input type="number" class="form-control" name="kabinamiledaivnt" id="kabinamiledaivnt" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="kabinamiledai" class="mr-3">Kabinami ledai, kg</label>
          <input type="number" class="form-control" name="kabinamiledai" id="kabinamiledai" step="0.01">
        </div>
        <div class="form-inline my-3">
          <label for="serbetas" class="mr-3">Šerbeto sirupas, l</label>
          <input type="number" class="form-control" name="serbetas" id="serbetas" step="0.01">
        </div>
        <div class="form-inline my-3">
          <label for="stiklines02" class="mr-3">Stiklinės 0.2, vnt</label>
          <input type="number" class="form-control" name="stiklines02" id="stiklines02" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="stiklines03" class="mr-3">Stiklinės 0.3, vnt</label>
          <input type="number" class="form-control" name="stiklines03" id="stiklines03" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="stiklines05" class="mr-3">Stiklinės 0.4, vnt</label>
          <input type="number" class="form-control" name="stiklines05" id="stiklines05" step="1">
        </div>
        <% if (result[0].pavadinimas == 'Palanga' || result[0].pavadinimas == 'Zydroji' || result[0].pavadinimas == 'Sventes' || result[0].pavadinimas == 'Palapine'){%>
          <div class="form-inline my-3">
              <label for="kava" class="mr-3">Kava, kg</label>
              <input type="number" class="form-control" name="kava" id="kava" step="0.01">
            </div>
        <% }%>
        <% if (result[0].pavadinimas == 'Centras' || result[0].pavadinimas == 'Zydroji'){%>
          <div class="form-inline my-3">
              <label for="vafliutesla" class="mr-3">Vaflių tešla, kg</label>
              <input type="number" class="form-control" name="vafliutesla" id="vafliutesla" step="0.01">
            </div>
        <% }%>
        <% if (result[0].pavadinimas == 'Banga' || result[0].pavadinimas == 'Zydroji' || result[0].pavadinimas == 'Palanga' || result[0].pavadinimas == 'Sventes'){%>
        <div class="form-inline my-3">
          <label for="gerimai1" class="mr-3">Gėrimai, kurių kaina 1 &euro;, vnt</label>
          <input type="number" class="form-control" name="gerimai1" id="gerimai1" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="gerimai5" class="mr-3">Gėrimai, kurių kaina 1.5 &euro;, 1l, vnt</label>
          <input type="number" class="form-control" name="gerimai5" id="gerimai5" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="gerimai2" class="mr-3">Gėrimai, kurių kaina 1.7 &euro;, vnt</label>
          <input type="number" class="form-control" name="gerimai2" id="gerimai2" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="gerimai21" class="mr-3">Gėrimai, kurių kaina 2 &euro;, vnt</label>
          <input type="number" class="form-control" name="gerimai21" id="gerimai21" step="1">
        </div>
        <% }%>
        <% if (result[0].pavadinimas == 'Banga' || result[0].pavadinimas == 'Pliazas' || result[0].pavadinimas == 'Sventes'){%>
        <div class="form-inline my-3">
          <label for="fasuoti1" class="mr-3">Fasuoti kaina 1 &euro;, vnt</label>
          <input type="number" class="form-control" name="fasuoti1" id="fasuoti1" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="fasuoti12" class="mr-3">Fasuoti kaina 1.2 &euro;, vnt</label>
          <input type="number" class="form-control" name="fasuoti12" id="fasuoti12" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="fasuoti15" class="mr-3">Fasuoti kaina 1.5 &euro;, vnt</label>
          <input type="number" class="form-control" name="fasuoti15" id="fasuoti15" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="fasuoti17" class="mr-3">Fasuoti kaina 1.7 &euro;, vnt</label>
          <input type="number" class="form-control" name="fasuoti17" id="fasuoti17" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="fasuoti2" class="mr-3">Fasuoti kaina 2 &euro;, vnt</label>
          <input type="number" class="form-control" name="fasuoti2" id="fasuoti2" step="1">
        </div>
        <div class="form-inline my-3">
          <label for="fasuoti25" class="mr-3">Fasuoti kaina 2.5 &euro;, vnt</label>
          <input type="number" class="form-control" name="fasuoti25" id="fasuoti25" step="1">
        </div>
        <% }%>
        <% if (result[0].pavadinimas == 'Palapine'){%>
          <div class="form-inline my-3">
            <label for="gerimai1" class="mr-3">Gėrimai, kurių kaina 1 &euro;, vnt</label>
            <input type="number" class="form-control" name="gerimai1" id="gerimai1" step="1">
          </div>
          <div class="form-inline my-3">
            <label for="gerimai5" class="mr-3">Gėrimai, kurių kaina 1.7 &euro;, vnt</label>
            <input type="number" class="form-control" name="gerimai5" id="gerimai5" step="1">
          </div>
          <div class="form-inline my-3">
            <label for="gerimai2" class="mr-3">Gėrimai, kurių kaina 2 &euro;, vnt</label>
            <input type="number" class="form-control" name="gerimai2" id="gerimai2" step="1">
          </div>
          <div class="form-inline my-3">
            <label for="gerimai21" class="mr-3">Gėrimai, kurių kaina 2.2 &euro;, vnt</label>
            <input type="number" class="form-control" name="gerimai21" id="gerimai21" step="1">
          </div>
          <div class="form-inline my-3">
            <label for="gerimai35" class="mr-3">Gėrimai, kurių kaina 3.5 &euro;, vnt</label>
            <input type="number" class="form-control" name="gerimai35" id="gerimai35" step="1">
          </div>
          <% }%>
          <% if (result[0].pavadinimas == 'Palapine'){%>
            <div class="form-inline my-3">
              <label for="fasuoti1" class="mr-3">Fasuoti kaina 1.2 &euro;, vnt</label>
              <input type="number" class="form-control" name="fasuoti1" id="fasuoti1" step="1">
            </div>
            <div class="form-inline my-3">
              <label for="fasuoti12" class="mr-3">Fasuoti kaina 1.4 &euro;, vnt</label>
              <input type="number" class="form-control" name="fasuoti12" id="fasuoti12" step="1">
            </div>
            <div class="form-inline my-3">
              <label for="fasuoti15" class="mr-3">Fasuoti kaina 1.7 &euro;, vnt</label>
              <input type="number" class="form-control" name="fasuoti15" id="fasuoti15" step="1">
            </div>
            <div class="form-inline my-3">
              <label for="fasuoti17" class="mr-3">Fasuoti kaina 1.9 &euro;, vnt</label>
              <input type="number" class="form-control" name="fasuoti17" id="fasuoti17" step="1">
            </div>
            <div class="form-inline my-3">
              <label for="fasuoti2" class="mr-3">Fasuoti kaina 2.2 &euro;, vnt</label>
              <input type="number" class="form-control" name="fasuoti2" id="fasuoti2" step="1">
            </div>
            <div class="form-inline my-3">
              <label for="fasuoti25" class="mr-3">Fasuoti kaina 2.7 &euro;, vnt</label>
              <input type="number" class="form-control" name="fasuoti25" id="fasuoti25" step="1">
            </div>
            <% }%>
        <input type="submit" value="Pateikti">
    </form>
    </div>
    <div class="mt-5">
      <h3>Visa Apskaita</h3>
      <table class="table table-striped" id="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Gauta</th>
            <th scope="col">Suprekiauta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Minkšti ledai, kg</th>
            <td><%= result[0].minkstiledai %></td>
            <td><%= (Number(result[0].gauta_minkstiledai) + Number(result[0].minkstiledai))*10 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Kabinamų dėžutės, vnt</th>
            <td><%= result[0].kabinamiledaivnt %></td>
            <td><%= (Number(result[0].gauta_kabinamiledaivnt) + Number(result[0].kabinamiledaivnt))*55 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Kabinami ledai, kg</th>
            <td><%= result[0].kabinamiledai %></td>
            <td><%= (Number(result[0].gauta_kabinamiledai) + Number(result[0].kabinamiledai))* 19.64 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Šerbeto sirupas, l</th>
            <td><%= result[0].serbetas %></td>
            <td><%= (Number(result[0].gauta_serbetas) + Number(result[0].serbetas))*30 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Stiklinės 0.2, vnt</th>
            <td><%= result[0].stiklines02 %></td>
            <td><%= (Number(result[0].gauta_stiklines02) + Number(result[0].stiklines02))*1.2 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Stiklinės 0.3, vnt</th>
            <td><%= result[0].stiklines03 %></td>
            <td><%= (Number(result[0].gauta_stiklines03) + Number(result[0].stiklines03))*1.5 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Stiklinės 0.4, vnt</th>
            <td><%= result[0].stiklines05 %></td>
            <td><%= (Number(result[0].gauta_stiklines05) + Number(result[0].stiklines05))*2 %> &euro;</td>
          </tr>
          <% if (result[0].pavadinimas == 'Palanga' || result[0].pavadinimas == 'Zydroji' || result[0].pavadinimas == 'Sventes'){%>
            <tr>
              <th scope="row">Kava, kg</th>
              <td><%= result[0].kava %></td>
              <td><%= (Number(result[0].gautaKava) + Number(result[0].kava))*160 %> &euro;</td>
            </tr>
          <% }%>
          <% if (result[0].pavadinimas == 'Centras' || result[0].pavadinimas == 'Zydroji'){%>
            <tr>
              <th scope="row">Vaflių tešla, kg</th>
              <td><%= result[0].vafliutesla %></td>
              <td><%= (Number(result[0].gautaVafliutesla) + Number(result[0].vafliutesla))*35 %> &euro;</td>
            </tr>
          <% }%>
          <% if (result[0].pavadinimas == 'Banga' || result[0].pavadinimas == 'Zydroji' || result[0].pavadinimas == 'Palanga' || result[0].pavadinimas == 'Sventes'){%>
          <tr>
            <th scope="row">Gėrimai, kurių kaina 1 &euro;, vnt</th>
            <td><%= result[0].gerimai1 %></td>
            <td><%= (Number(result[0].gautaGerimai1) + Number(result[0].gerimai1))*1 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Gėrimai, kurių kaina 1.5 &euro;, vnt</th>
            <td><%= result[0].gerimai15 %></td>
            <td><%= (Number(result[0].gerimai15) + Number(result[0].gautaGerimai15))*1.5 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Gėrimai, kurių kaina 1.7 &euro;, vnt</th>
            <td><%= result[0].gerimai2 %></td>
            <td><%= (Number(result[0].gerimai2) + Number(result[0].gautaGerimai2))*1.7 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Gėrimai, kurių kaina 2 &euro;, vnt</th>
            <td><%= result[0].gerimai21 %></td>
            <td><%= (Number(result[0].gerimai21) + Number(result[0].gautaGerimai21))*2 %> &euro;</td>
          </tr>
          <% }%>
          <% if (result[0].pavadinimas == 'Banga' || result[0].pavadinimas == 'Pliazas' || result[0].pavadinimas == 'Sventes'){%>
          <tr>
            <th scope="row">Fasuoti kaina 1 &euro;, vnt</th>
            <td><%= result[0].fasuoti1 %></td>
            <td><%= (Number(result[0].gautaFasuoti1) + Number(result[0].fasuoti1))*1 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Fasuoti kaina 1.2 &euro;, vnt</th>
            <td><%= result[0].fasuoti12 %></td>
            <td><%= (Number(result[0].gautaFasuoti12) + Number(result[0].fasuoti12))*1.2 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Fasuoti kaina 1.5 &euro;, vnt</th>
            <td><%= result[0].fasuoti15 %></td>
            <td><%= (Number(result[0].gautaFasuoti15) + Number(result[0].fasuoti15))*1.5 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Fasuoti kaina 1.7 &euro;, vnt</th>
            <td><%= result[0].fasuoti17 %></td>
            <td><%= (Number(result[0].gautaFasuoti17) + Number(result[0].fasuoti17))*1.7 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Fasuoti kaina 2 &euro;, vnt</th>
            <td><%= result[0].fasuoti2 %></td>
            <td><%= (Number(result[0].gautaFasuoti2) + Number(result[0].fasuoti2))*2 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Fasuoti kaina 2.5 &euro;, vnt</th>
            <td><%= result[0].fasuoti25 %></td>
            <td><%= (Number(result[0].gautaFasuoti25) + Number(result[0].fasuoti25))*2.5 %> &euro;</td>
          </tr>
          <% }%>
          <% if (result[0].pavadinimas == 'Palapine'){%>
            <tr>
              <th scope="row">Gėrimai, kurių kaina 1 &euro;, vnt</th>
              <td><%= result[0].gerimai1 %></td>
              <td><%= (Number(result[0].gautaGerimai1) + Number(result[0].gerimai1))*1 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Gėrimai, kurių kaina 1.7 &euro;, vnt</th>
              <td><%= result[0].gerimai15 %></td>
              <td><%= (Number(result[0].gerimai15) + Number(result[0].gautaGerimai15))*1.7 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Gėrimai, kurių kaina 2 &euro;, vnt</th>
              <td><%= result[0].gerimai2 %></td>
              <td><%= (Number(result[0].gerimai2) + Number(result[0].gautaGerimai2))*2 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Gėrimai, kurių kaina 2.2 &euro;, vnt</th>
              <td><%= result[0].gerimai21 %></td>
              <td><%= (Number(result[0].gerimai21) + Number(result[0].gautaGerimai21))*2.2 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Gėrimai, kurių kaina 3.5 &euro;, vnt</th>
              <td><%= result[0].gerimai35 %></td>
              <td><%= (Number(result[0].gerimai35) + Number(result[0].gautaGerimai35))*3.5 %> &euro;</td>
            </tr>
            <% }%>
            <% if (result[0].pavadinimas == 'Palapine'){%>
              <tr>
                <th scope="row">Fasuoti kaina 1.2 &euro;, vnt</th>
                <td><%= result[0].fasuoti1 %></td>
                <td><%= (Number(result[0].gautaFasuoti1) + Number(result[0].fasuoti1))*1.2 %> &euro;</td>
              </tr>
              <tr>
                <th scope="row">Fasuoti kaina 1.4 &euro;, vnt</th>
                <td><%= result[0].fasuoti12 %></td>
                <td><%= (Number(result[0].gautaFasuoti12) + Number(result[0].fasuoti12))*1.4 %> &euro;</td>
              </tr>
              <tr>
                <th scope="row">Fasuoti kaina 1.7 &euro;, vnt</th>
                <td><%= result[0].fasuoti15 %></td>
                <td><%= (Number(result[0].gautaFasuoti15) + Number(result[0].fasuoti15))*1.7 %> &euro;</td>
              </tr>
              <tr>
                <th scope="row">Fasuoti kaina 1.9 &euro;, vnt</th>
                <td><%= result[0].fasuoti17 %></td>
                <td><%= (Number(result[0].gautaFasuoti17) + Number(result[0].fasuoti17))*1.9 %> &euro;</td>
              </tr>
              <tr>
                <th scope="row">Fasuoti kaina 2.2 &euro;, vnt</th>
                <td><%= result[0].fasuoti2 %></td>
                <td><%= (Number(result[0].gautaFasuoti2) + Number(result[0].fasuoti2))*2.2 %> &euro;</td>
              </tr>
              <tr>
                <th scope="row">Fasuoti kaina 2.7 &euro;, vnt</th>
                <td><%= result[0].fasuoti25 %></td>
                <td><%= (Number(result[0].gautaFasuoti25) + Number(result[0].fasuoti25))*2.7 %> &euro;</td>
              </tr>
              <% }%>
        </tbody>
      </table>
      <p><span class="font-weight-bold" id="val"></span></p>
      <p><span class="font-weight-bold" id="val1"></span></p>
  </div>
  <div>
    <h1>Tarpinės ataskaitos</h1>
    <form action="/nuemimas/<%= result[0].tasko_ID %>" method="post">
      <div class="form-inline">
        <label for="nuimtaMinksti" class="mr-3">Ledų masė, kg</label>
        <input type="number" class="form-control" name="nuimtaMinksti" id="nuimtaMinksti" min="0.01" step="0.01">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaKabinami" class="mr-3">Kabinami ledai, kg</label>
        <input type="number" class="form-control" name="nuimtaKabinami" id="nuimtaKabinami" min="0.01" step="0.01">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaKabinamiledaivnt" class="mr-3">Kabinamų dėžutės, vnt</label>
        <input type="number" class="form-control" name="nuimtaKabinamiledaivnt" id="nuimtaKabinamiledaivnt" min="1" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaSerbetas" class="mr-3">Šerbeto sirupas, l</label>
        <input type="number" class="form-control" name="nuimtaSerbetas" id="nuimtaSerbetas" min="0.01" step="0.01">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaStiklines02" class="mr-3">Stiklinės 0.2, vnt</label>
        <input type="number" class="form-control" name="nuimtaStiklines02" id="nuimtaStiklines02" min="1" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaStiklines03" class="mr-3">Stiklinės 0.3, vnt</label>
        <input type="number" class="form-control" name="nuimtaStiklines03" id="nuimtaStiklines03" min="1" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaStiklines05" class="mr-3">Stiklinės 0.4, vnt</label>
        <input type="number" class="form-control" name="nuimtaStiklines05" id="nuimtaStiklines05" min="1" step="1">
      </div>
      <% if (result[0].pavadinimas == 'Palanga' || result[0].pavadinimas == 'Zydroji' || result[0].pavadinimas == 'Sventes'){%>
        <div class="form-inline my-3">
            <label for="nuimtaKava" class="mr-3">Kava, kg</label>
            <input type="number" class="form-control" name="nuimtaKava" id="nuimtaKava" step="0.01">
          </div>
      <% }%>
      <% if (result[0].pavadinimas == 'Centras' || result[0].pavadinimas == 'Zydroji'){%>
        <div class="form-inline my-3">
            <label for="nuimtaVafliutesla" class="mr-3">Vaflių tešla, kg</label>
            <input type="number" class="form-control" name="nuimtaVafliutesla" id="nuimtaVafliutesla" step="0.01">
          </div>
      <% }%>
      <% if (result[0].pavadinimas == 'Banga' || result[0].pavadinimas == 'Zydroji' || result[0].pavadinimas == 'Palanga' || result[0].pavadinimas == 'Sventes'){%>
      <div class="form-inline my-3">
        <label for="nuimtaGerimai1" class="mr-3">Gėrimai, kurių kaina 1 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaGerimai1" id="nuimtaGerimai1" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaGerimai15" class="mr-3">Gėrimai, kurių kaina 1.5 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaGerimai15" id="nuimtaGerimai15" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaGerimai2" class="mr-3">Gėrimai, kurių kaina 1.7 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaGerimai2" id="nuimtaGerimai2" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaGerimai21" class="mr-3">Gėrimai, kurių kaina 2 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaGerimai21" id="nuimtaGerimai21" step="1">
      </div>
      <% }%>
      <% if (result[0].pavadinimas == 'Banga' || result[0].pavadinimas == 'Pliazas' || result[0].pavadinimas == 'Sventes'){%>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti1" class="mr-3">Fasuoti kaina 1 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti1" id="nuimtaFasuoti1" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti12" class="mr-3">Fasuoti kaina 1.2 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti12" id="nuimtaFasuoti12" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti15" class="mr-3">Fasuoti kaina 1.5 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti15" id="nuimtaFasuoti15" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti17" class="mr-3">Fasuoti kaina 1.7 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti17" id="nuimtaFasuoti17" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti2" class="mr-3">Fasuoti kaina 2 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti2" id="nuimtaFasuoti2" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti25" class="mr-3">Fasuoti kaina 2.5 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti25" id="nuimtaFasuoti25" step="1">
      </div>
      <% }%>
      <% if (result[0].pavadinimas == 'Palapine'){%>
      <div class="form-inline my-3">
        <label for="nuimtaGerimai1" class="mr-3">Gėrimai, kurių kaina 1 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaGerimai1" id="nuimtaGerimai1" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaGerimai15" class="mr-3">Gėrimai, kurių kaina 1.7 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaGerimai15" id="nuimtaGerimai15" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaGerimai2" class="mr-3">Gėrimai, kurių kaina 2 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaGerimai2" id="nuimtaGerimai2" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaGerimai21" class="mr-3">Gėrimai, kurių kaina 2.2 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaGerimai21" id="nuimtaGerimai21" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaGerimai35" class="mr-3">Gėrimai, kurių kaina 3.5 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaGerimai35" id="nuimtaGerimai35" step="1">
      </div>
      <% }%>
      <% if (result[0].pavadinimas == 'Palapine'){%>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti1" class="mr-3">Fasuoti kaina 1.2 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti1" id="nuimtaFasuoti1" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti12" class="mr-3">Fasuoti kaina 1.4 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti12" id="nuimtaFasuoti12" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti15" class="mr-3">Fasuoti kaina 1.7 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti15" id="nuimtaFasuoti15" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti17" class="mr-3">Fasuoti kaina 1.9 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti17" id="nuimtaFasuoti17" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti2" class="mr-3">Fasuoti kaina 2.2 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti2" id="nuimtaFasuoti2" step="1">
      </div>
      <div class="form-inline my-3">
        <label for="nuimtaFasuoti25" class="mr-3">Fasuoti kaina 2.7 &euro;, vnt</label>
        <input type="number" class="form-control" name="nuimtaFasuoti25" id="nuimtaFasuoti25" step="1">
      </div>
      <% }%>
      <div class="form-inline my-3">
        <label for="pavadinimas" class="mr-3">Taškas</label>
        <select class="form-control" id="pavadinimas" name="pavadinimas">
          <% if (result[0].pavadinimas == 'Centras'){%>
            <option value="Centras">Centras</option>
            <% }%>
            <% if (result[0].pavadinimas == 'Banga'){%>
            <option value="Banga">Banga</option>
            <% }%>
            <% if (result[0].pavadinimas == 'Pliazas'){%>
            <option value="Pliazas">Pliažas</option>
            <% }%>
            <% if (result[0].pavadinimas == 'Zydroji'){%>
            <option value="Zydroji">Žydroji</option>
            <% }%>
            <% if (result[0].pavadinimas == 'Palanga'){%>
            <option value="Palanga">Palanga</option>
            <% }%>
            <% if (result[0].pavadinimas == 'Sventes'){%>
            <option value="Sventes">Šventės</option>
            <% }%>
            <% if (result[0].pavadinimas == 'Palapine'){%>
            <option value="Palapine">Palapinė</option>
            <% }%>
        </select>
      </div>
      <div class="form-inline my-3">
        <label for="data" class="mr-3">Nuėmimo data:</label>
        <input type="date" name="data" id="data" class="form-control" required>
      </div>
      <input type="submit" value="Pateikti" id="nuimta">
    </form>
  </div>
  <div id="lenteleNuimta">
    <% if(result[0].nuimtaMinksti) {%>
    <% result.forEach(function(result) {%>
      <h6>Nuėmimo data: <%= result.data %></h6>
      <table class="table table-dark table-striped apsk">
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Iš viso gauta</th>
            <th scope="col">Nuimta</th>
            <th scope="col">Suprekiauta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Minkšti ledai, kg</th>
            <td><%= result.nuimta_pradziaMinksti %></td>
            <td><%= result.nuimtaMinksti %></td>
            <td><%= (Number(result.nuimta_pradziaMinksti) - Number(result.nuimtaMinksti))*10 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Kabinamų dėžutės, vnt</th>
            <td><%= result.nuimta_pradziaKabinamiledaivnt %></td>
            <td><%= result.nuimtaKabinamiledaivnt %></td>
            <td><%= (Number(result.nuimta_pradziaKabinamiledaivnt) - Number(result.nuimtaKabinamiledaivnt))*55 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Kabinami ledai, kg</th>
            <td><%= result.nuimta_pradziaKabinami %></td>
            <td><%= result.nuimtaKabinami %></td>
            <td><%= (Number(result.nuimta_pradziaKabinami) - Number(result.nuimtaKabinami))*19.64 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Šerbeto sirupas, l</th>
            <td><%= result.nuimta_pradziaSerbetas %></td>
            <td><%= result.nuimtaSerbetas %></td>
            <td><%= (Number(result.nuimta_pradziaSerbetas) - Number(result.nuimtaSerbetas))*30 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Stiklinės 0.2, vnt</th>
            <td><%= result.nuimta_pradziaStiklines02 %></td>
            <td><%= result.nuimtaStiklines02 %></td>
            <td><%= (Number(result.nuimta_pradziaStiklines02) - Number(result.nuimtaStiklines02))*1.2 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Stiklinės 0.3, vnt</th>
            <td><%= result.nuimta_pradziaStiklines03 %></td>
            <td><%= result.nuimtaStiklines03 %></td>
            <td><%= (Number(result.nuimta_pradziaStiklines03) - Number(result.nuimtaStiklines03))*1.5 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Stiklinės 0.4, vnt</th>
            <td><%= result.nuimta_pradziaStiklines05 %></td>
            <td><%= result.nuimtaStiklines05 %></td>
            <td><%= (Number(result.nuimta_pradziaStiklines05) - Number(result.nuimtaStiklines05))*2 %> &euro;</td>
          </tr>
          <% if (result.pavadinimas == 'Palanga' || result.pavadinimas == 'Zydroji' || result.pavadinimas == 'Sventes'){%>
          <tr>
            <th scope="row">Kava, kg</th>
            <td><%= result.nuimta_pradziaKava %></td>
            <td><%= result.nuimtaKava %></td>
            <td><%= (Number(result.nuimta_pradziaKava) - Number(result.nuimtaKava))*160 %> &euro;</td>
          </tr>
          <% }%>
          <% if (result.pavadinimas == 'Centras' || result.pavadinimas == 'Zydroji'){%>
          <tr>
            <th scope="row">Vaflių tešla, kg</th>
            <td><%= result.nuimta_pradziaVafliutesla %></td>
            <td><%= result.nuimtaVafliutesla %></td>
            <td><%= (Number(result.nuimta_pradziaVafliutesla) - Number(result.nuimtaVafliutesla))*35 %> &euro;</td>
          </tr>
          <% }%>
          <% if (result.pavadinimas == 'Banga' || result.pavadinimas == 'Zydroji' || result.pavadinimas == 'Palanga' || result.pavadinimas == 'Sventes'){%>
          <tr>
            <th scope="row">Gėrimai, kurių kaina 1 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaGerimai1 %></td>
            <td><%= result.nuimtaGerimai1 %></td>
            <td><%= (Number(result.nuimta_pradziaGerimai1) - Number(result.nuimtaGerimai1))*1 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Gėrimai, kurių kaina 1.5 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaGerimai15 %></td>
            <td><%= result.nuimtaGerimai15 %></td>
            <td><%= (Number(result.nuimta_pradziaGerimai15) - Number(result.nuimtaGerimai15))*1.5 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Gėrimai, kurių kaina 1.7 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaGerimai2 %></td>
            <td><%= result.nuimtaGerimai2 %></td>
            <td><%= (Number(result.nuimta_pradziaGerimai2) - Number(result.nuimtaGerimai2))*1.7 %> &euro;</td>
          </tr>
          <th scope="row">Gėrimai, kurių kaina 2 &euro;, vnt</th>
          <td><%= result.nuimta_pradziaGerimai21 %></td>
          <td><%= result.nuimtaGerimai21 %></td>
          <td><%= (Number(result.nuimta_pradziaGerimai21) - Number(result.nuimtaGerimai21))*2 %> &euro;</td>
        </tr>
          <% }%>
          <% if (result.pavadinimas == 'Banga' || result.pavadinimas == 'Pliazas' || result.pavadinimas == 'Sventes'){%>
          <tr>
            <th scope="row">Fasuoti kaina 1 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaFasuoti1 %></td>
            <td><%= result.nuimtaFasuoti1 %></td>
            <td><%= (Number(result.nuimta_pradziaFasuoti1) - Number(result.nuimtaFasuoti1))*1 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Fasuoti kaina 1.2 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaFasuoti12 %></td>
            <td><%= result.nuimtaFasuoti12 %></td>
            <td><%= (Number(result.nuimta_pradziaFasuoti12) - Number(result.nuimtaFasuoti12))*1.2 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Fasuoti kaina 1.5 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaFasuoti15 %></td>
            <td><%= result.nuimtaFasuoti15 %></td>
            <td><%= (Number(result.nuimta_pradziaFasuoti15) - Number(result.nuimtaFasuoti15))*1.5 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Fasuoti kaina 1.7 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaFasuoti17 %></td>
            <td><%= result.nuimtaFasuoti17 %></td>
            <td><%= (Number(result.nuimta_pradziaFasuoti17) - Number(result.nuimtaFasuoti17))*1.7 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Fasuoti kaina 2 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaFasuoti2 %></td>
            <td><%= result.nuimtaFasuoti2 %></td>
            <td><%= (Number(result.nuimta_pradziaFasuoti2) - Number(result.nuimtaFasuoti2))*2 %> &euro;</td>
          </tr>
          <tr>
            <th scope="row">Fasuoti kaina 2.5 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaFasuoti25 %></td>
            <td><%= result.nuimtaFasuoti25 %></td>
            <td><%= (Number(result.nuimta_pradziaFasuoti25) - Number(result.nuimtaFasuoti25))*2.5 %> &euro;</td>
          </tr>
          <% }%>
          <% if (result.pavadinimas == 'Palapine'){%>
            <tr>
              <th scope="row">Gėrimai, kurių kaina 1 &euro;, vnt</th>
              <td><%= result.nuimta_pradziaGerimai1 %></td>
              <td><%= result.nuimtaGerimai1 %></td>
              <td><%= (Number(result.nuimta_pradziaGerimai1) - Number(result.nuimtaGerimai1))*1 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Gėrimai, kurių kaina 1.7 &euro;, vnt</th>
              <td><%= result.nuimta_pradziaGerimai15 %></td>
              <td><%= result.nuimtaGerimai15 %></td>
              <td><%= (Number(result.nuimta_pradziaGerimai15) - Number(result.nuimtaGerimai15))*1.7 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Gėrimai, kurių kaina 2 &euro;, vnt</th>
              <td><%= result.nuimta_pradziaGerimai2 %></td>
              <td><%= result.nuimtaGerimai2 %></td>
              <td><%= (Number(result.nuimta_pradziaGerimai2) - Number(result.nuimtaGerimai2))*2 %> &euro;</td>
            </tr>
          <th scope="row">Gėrimai, kurių kaina 2.2 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaGerimai21 %></td>
            <td><%= result.nuimtaGerimai21 %></td>
            <td><%= (Number(result.nuimta_pradziaGerimai21) - Number(result.nuimtaGerimai21))*2.2 %> &euro;</td>
          </tr>
          <th scope="row">Gėrimai, kurių kaina 3.5 &euro;, vnt</th>
            <td><%= result.nuimta_pradziaGerimai35 %></td>
            <td><%= result.nuimtaGerimai35 %></td>
            <td><%= (Number(result.nuimta_pradziaGerimai35) - Number(result.nuimtaGerimai35))*3.5 %> &euro;</td>
          </tr>
          <% }%>
            <% if (result.pavadinimas == 'Palapine'){%>
            <tr>
              <th scope="row">Fasuoti kaina 1.2 &euro;, vnt</th>
              <td><%= result.nuimta_pradziaFasuoti1 %></td>
              <td><%= result.nuimtaFasuoti1 %></td>
              <td><%= (Number(result.nuimta_pradziaFasuoti1) - Number(result.nuimtaFasuoti1))*1.2 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Fasuoti kaina 1.4 &euro;, vnt</th>
              <td><%= result.nuimta_pradziaFasuoti12 %></td>
              <td><%= result.nuimtaFasuoti12 %></td>
              <td><%= (Number(result.nuimta_pradziaFasuoti12) - Number(result.nuimtaFasuoti12))*1.4 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Fasuoti kaina 1.7 &euro;, vnt</th>
              <td><%= result.nuimta_pradziaFasuoti15 %></td>
              <td><%= result.nuimtaFasuoti15 %></td>
              <td><%= (Number(result.nuimta_pradziaFasuoti15) - Number(result.nuimtaFasuoti15))*1.7 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Fasuoti kaina 1.9 &euro;, vnt</th>
              <td><%= result.nuimta_pradziaFasuoti17 %></td>
              <td><%= result.nuimtaFasuoti17 %></td>
              <td><%= (Number(result.nuimta_pradziaFasuoti17) - Number(result.nuimtaFasuoti17))*1.9 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Fasuoti kaina 2.2 &euro;, vnt</th>
              <td><%= result.nuimta_pradziaFasuoti2 %></td>
              <td><%= result.nuimtaFasuoti2 %></td>
              <td><%= (Number(result.nuimta_pradziaFasuoti2) - Number(result.nuimtaFasuoti2))*2.2 %> &euro;</td>
            </tr>
            <tr>
              <th scope="row">Fasuoti kaina 2.7 &euro;, vnt</th>
              <td><%= result.nuimta_pradziaFasuoti25 %></td>
              <td><%= result.nuimtaFasuoti25 %></td>
              <td><%= (Number(result.nuimta_pradziaFasuoti25) - Number(result.nuimtaFasuoti25))*2.7 %> &euro;</td>
            </tr>
            <% }%>
        </tbody>
      </table>
      <span class="val"></span>
      <br>
      <% })%>
      <% }%>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</body>
</html>